<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yaboosh.ybtech.lasertally" >

    <uses-sdk
        android:minSdkVersion="20"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ItemListActivity"
            android:label="@string/title_item_list" >
        </activity>

        <activity
            android:name=".ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".ItemListActivity" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yaboosh.ybtech.lasertally.ItemListActivity" />

        </activity>

        <activity
            android:name=".BluetoothScanActivity"
            android:parentActivityName=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_bluetooth_scan"
            android:theme="@style/activityDialog" >

                <intent-filter>
                    <action android:name="android.intent.action.MAIN"/>

                    <category android:name="android.intent.category.LAUNCHER"/>
                </intent-filter>

        </activity>

        <activity
            android:name=".BluetoothMessageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_bluetooth_message"
            android:theme="@style/activityDialog" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".TableRowEditorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_table_row_editor"
            android:theme="@style/activityDialog" >
        </activity>

        <activity
            android:name=".CreateJobActivity"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_create_job"
            android:theme="@style/activityDialog" >
        </activity>

        <activity
            android:name=".JobDisplayActivity"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_job_info" >
        </activity>

        <activity
            android:name=".JobInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_job_info"
            android:theme="@style/activityDialog" >
        </activity>

        <activity
            android:name=".JobInfoMenuActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_job_menu_info"
            android:theme="@style/activityDialog" >
        </activity>

        <activity
            android:name=".OpenJobActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_open_job"
            android:theme="@style/activityDialog" >
        </activity>

        <activity
            android:name=".VerifyActionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_verify_action"
            android:theme="@style/activityDialog" >
        </activity>

        <service android:name="com.yaboosh.ybtech.lasertally.BluetoothLeService" >
        </service>

    </application>

</manifest>
